[Unit]
Description=ORION night sky stacking application
After=time-sync.target
Requires=time-sync.target

[Service]
ExecStart=/app/orion/bin/orion.py --no_splash
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
